body{
  height: 95vh;
  width: 95;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color:#B0A11E;
  background-color: #17A39A;
}